{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as ui %}


{% block head_title 'Typography' %}


{% block body_intro %}
    <h2 >Typography</h2>
    <p>
        Including PDS does not change the typography of your site. After
        including, you may use PDS sass or html classes to define your 
        typography in line with the ProDemos styles.
    </p>
{% endblock %}

{% block body_content %}
    <h3 >Font family</h3>
    <p>
        A few fonts are included in the design system. You can access them by a classname 
        or use the css font definition to get the correct font:
        <ul>
            <li><span class="bree-serif">.bree-serif</span> (<code>font-family:"Bree Serif"; font-weight:400;</code>)</li>
            <li><span  class="fira-sans">.fira-sans, .fira-sans-regular</span> (<code>font-family:"Bree Serif"; font-weight:400;</code>)</li>
            <li><span  class="fira-sans-medium">.fira-sans-medium</span> (<code>font-family:"Bree Serif"; font-weight:500;</code>)</li>
            <li><span  class="fira-sans-semibold">.fira-sans-semibold</span> (<code>font-family:"Bree Serif"; font-weight:600;</code>)</li>
            <li><span  class="fira-sans-bold">.fira-sans-bold</span> (<code>font-family:"Bree Serif"; font-weight:700;</code>)</li>
        </ul>
    </p>
    <h3 >Font sizes</h3>
    <p>
        The design system has a set of named fontsizes that you can access 
        in sass (<code>@pds-fontsize(xs)</code>). <br>
        The names are 
        <code>tiny, xxs, xs, s, default, m, l, xl, xxl, huge</code>
    </p>
    <h3 >Line heights</h3>
    <p>
        The design system has a set of named lineheights that you can access 
        in sass (<code>@pds-lineheight(xs)</code>). <br>
        The names are 
        <code>none, xs, s, default, m</code>
    </p>
    <h3 >Colors</h3>
    <p>
        The colors are defined in css which you can access in html 
         (<code>class="pds-m-colored blue"</code>)
        or using css variables (<code>color: var(--pds-color-blue)</code>).
    </p>
{% endblock %}