{% extends 'base.html.twig' %}

{% block head_title 'Responsive' %}


{% block body_intro %}
    <h1 >Responsive</h1>
    <h2 >Mixin: pds-media</h2>
    <p>
        <b><code>pds-media(name,[min|max],[breakpoints])</code></b>
        <dl>
            <dt><code>name</code></dt>
            <dd>refers to a breakpoint name, like 'tablet' or 'phone'</dt>
            <dt><code>min|max</code> (default: min)</dt>
            <dd>wether supplied content should be applied until given breakpoint (+1) or from that breakpoint</dt>
            <dt><code>breakpoints</code> (default: pds defaults)</dt>
            <dd>the list of breakpoints to use.</dt>
        </dl>

    <hr>
        Example:
<xmp>
@include pds-media("tablet", min) {
  ul.pas-form-pager {
    display: flex;
  }
}
</xmp>
    
    <hr>

        <code>$breakpoints</code> are defined as a map, like 
<xmp>
$pds-breakpoints: (
    none:0, 
    tiny: 280px,
    xxs: 320px,
    xs: 480px,
    s: 576px, 
    default: 768px,
    m: 768px, 
    l: 992px, 
    xl: 1200px,
    xxl: 1400px,
    huge: 1600px,
);
</xmp>
        You can add your own breakpoints by adding entries to the map:
<xmp>
@use "sass:map";

$pds-breakpoints: map.set($pds-breakpoints, phone-small, 375px);
$pds-breakpoints: map.set($pds-breakpoints, phone, 400px);


</xmp>
    </p>

{% endblock %}

