{% extends 'base.html.twig' %}

{% block head_title 'Responsive' %}


{% block body_intro %}
    <h1 >Responsive</h1>
    <h2 >Mixin: pds.pds-media</h2>
    <p>
        <b><code>pds.pds-media(name,[min|max],[breakpoints])</code></b>
        <dl>
            <dt><code>name</code></dt>
            <dd>refers to a breakpoint name, like 'tablet' or 'phone'</dt>
            <dt><code>min|max</code> (default: min)</dt>
            <dd>wether supplied content should be applied until given breakpoint (+1) or from that breakpoint</dt>
            <dt><code>breakpoints</code> (default: pds defaults)</dt>
            <dd>the list of breakpoints to use.</dt>
        </dl>

    <hr>
        Example:
<xmp>
@use "../../assets/sass/pds";

@include pds.pds-media("tablet", min) {
  ul.pas-form-pager {
    display: flex;
  }
}
</xmp>
    
    <hr>

        Breakpoints are defined as a map, like 
<xmp>
$pds-breakpoints: (
    none:0, 
    tiny: 280px,
    xxs: 320px,
    xs: 480px,
    s: 576px, 
    default: 768px,
    m: 768px, 
    l: 992px, 
    xl: 1200px,
    xxl: 1400px,
    huge: 1600px,
);
</xmp>
        You can override these breakpoints, or define your own,
        when configuring settings.scss:
<xmp>
use "...path-to-pds/sass/settings.scss" with ( 
    $pds-assets-path: "...path-to-pds",
    $pds-custom-breakpoints: (
        phone-small: 375px,
        xs: 400px
    )
);
...
@use "../../assets/sass/pds";
@include pds.pds-media("phone-small", min) {
  ul.pas-form-pager {
    display: flex;
  }
}
</xmp>
    </p>

{% endblock %}

