{% extends 'base.html.twig' %}

{% block head_title 'Spacing' %}


{% block body_intro %}

    <h1 >Spacing</h1>

    <h2 >Function: pds.pds-spacing</h2>
    <p>
        <b><code>pds.pds-spacing(name)</code></b>
        <dl>
            <dt><code>name</code></dt>
            <dd>refers to a spacing name, like 'huge'</dt>
        </dl>

    <hr>
        Example:
<xmp>
@use "../../assets/sass/pds";

h1 {
    margin: pds.pds-spacing(huge) size.pds-spacing(none);
}
</xmp>
    
    <hr>

        Spacings are defined as a map, like 
<xmp>
$pds-spacings: (
    none: 0,
    tiny: 4px,
    xxs: 8px,
    xs: 12px,
    s: 16px,
    default: 20px,
    m: 24px,
    l: 32px,
    xl: 48px,
    xxl: 56px,
    huge: 64px
);
</xmp>
        You can override these spacings, or define your own, when configuring settings.css:
<xmp>
use "...path-to-pds/sass/settings.scss" with ( 
    $pds-assets-path: "...path-to-pds",
    $pds-custom-spacings: (
        default: 20px,
        gutter: 24px
    )
);
...
@use "...path-to-pds/sass/pds";

h1 {
    margin: pds.pds-spacing(default) pds.pds-spacing(gutter);
}

</xmp>
    </p>

   

{% endblock %}

