/*
    Only use woff/woff2, this is covering the browsers we support.
    No need to include the ttf/eot/svg
    https://caniuse.com/woff
    
    Web fonts can ben found here: https://gwfh.mranftl.com/fonts/fira-sans?subsets=latin,latin-ext
*/

$font-path: "#{$pds-assets-path}/fonts/fira-sans/";

/** REGULAR **/

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Fira Sans Regular"), local("FiraSans-Regular"),
    url("#{$font-path}fira-sans-v17-latin-regular.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Fira Sans Italic"), local("FiraSans-Italic"),
    url("#{$font-path}fira-sans-v17-latin-italic.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-italic.woff") format("woff");
}

/** MEDIUM **/

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  src: local("Fira Sans Medium"), local("FiraSans-Medium"),
    url("#{$font-path}fira-sans-v17-latin-500.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 500;
  src: local("Fira Sans Medium Italic"), local("FiraSans-MediumItalic"),
    url("#{$font-path}fira-sans-v17-latin-500italic.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-500italic.woff") format("woff");
}

/** SEMI BOLD **/

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Fira Sans Semi Bold"), local("FiraSans-SemiBold"),
    url("#{$font-path}fira-sans-v17-latin-600.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-600.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Fira Sans Semi Bold Italic"), local("FiraSans-SemiBoldItalic"),
    url("#{$font-path}fira-sans-v17-latin-600italic.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-600italic.woff") format("woff");
}

/** BOLD **/

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Fira Sans Bold"), local("FiraSans-Bold"),
    url("#{$font-path}fira-sans-v17-latin-700.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-700.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Fira Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Fira Sans Bold Italic"), local("FiraSans-BoldItalic"),
    url("#{$font-path}fira-sans-v17-latin-700italic.woff2") format("woff2"),
    url("#{$font-path}fira-sans-v17-latin-700italic.woff") format("woff");
}

.fira-sans,
.fira-sans-regular {
  font-family: "Fira Sans";
  font-weight: 400;
}
.fira-sans-medium {
  font-family: "Fira Sans";
  font-weight: 500;
}

.fira-sans-semibold {
  font-family: "Fira Sans";
  font-weight: 600;
}

.fira-sans-bold {
  font-family: "Fira Sans";
  font-weight: 700;
}
