@use "../pds/settings";

/*
    Only use woff/woff2, this is covering the browsers we support.
    No need to include the ttf/eot/svg
    https://caniuse.com/woff
    
    Web fonts can ben found here: https://gwfh.mranftl.com/fonts/bree-serif?subsets=latin
*/

$font-path-bree: "#{settings.$assets-path}/fonts/bree-serif/";

@font-face {
  font-display: swap;
  font-family: "Bree Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Bree Serif Regular"), local("BreeSerif-Regular"),
    url("#{$font-path-bree}bree-serif-v9-latin-regular.woff2") format("woff2"),
    url("#{$font-path-bree}bree-serif-v9-latin-regular.woff") format("woff");
}

.bree-serif {
  font-family: "Bree Serif";
  font-weight: 400;
}
