<!doctype html>
<html class="{% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title styleguide.title %}{%- if version is not empty %}{{ ' - ' ~ version }}{% endif %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head -%}
            <link rel="stylesheet" href="../css/main.css">
        {%- endblock %}

        
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block body '' %}
    </body>
</html>
