<!doctype html>
<html class="{% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{{ styleguide.title ~ ' - '}}
            {%- block head_title %}
                {%- if name|default %} - {{ name|capitalize }}{% endif -%}
            {% endblock -%}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head -%}
            <style type="text/css">
                a { color: black; }
            </style>
            <link rel="stylesheet" href="../css/main.css">
        {%- endblock %}

        
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block styleguide_top %}
        {% include '/styleguide/top.html.twig' %}
    {% endblock %}

        <main class="page-body">
            {% block styleguide_aside %}
                {% include '/styleguide/sidebar.html.twig' %}
            {% endblock %}

            <div class="body-main">
                <div class="body-intro">
                    {% block body_intro %}
                        <h1 >{{ name|capitalize }}</h1>
                    {% endblock %}
                </div>

                <div class="body-content">
                    {% block body_content %}
                        {% for component in examples[name] %}
                                {{ ui.styleguide_component(component.styleguide_type, component, styleguide.outputs) }}
                        {% endfor %}
                    {% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
