<!doctype html>
<html class="{% block html_class '' %}" {% block html_attributes '' %}>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>{% block head_title styleguide.title %}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% block head -%}
            <style type="text/css">
                a { color: black; }
            </style>
            <link rel="stylesheet" href="../css/main.css">
        {%- endblock %}

        
    </head>

    <body class="{% block body_class '' %}" {% block body_attributes '' %}>
        {% block styleguide_top %}
        {% include '/styleguide/top.html.twig' %}
    {% endblock %}

        <main class="page-body">
            {% block styleguide_aside %}
                {% include '/styleguide/sidebar.html.twig' %}
            {% endblock %}

            <div class="body-main">
                <div class="body-intro">
                    {% block component_intro '' %}
                </div>

                {% block component_list '' %}
            </div>
        </main>
    </body>
</html>
