{% extends 'styleguide/component.html.twig' %}
{% import 'macros/components.html.twig' as ui %}


{% block head_title 'Buttons - Styleguide' %}


{% block component_intro %}
   <h1 class="c-copy--h1">Buttons</h1>
    <p>List of all kind of buttons used throughout the project. Every button starts with a class (pds-c-button) that contains the shared behaviour. 
            There are modifiers to describe the primary or secondary style, and the themes, when used, primarily consists of colors for the default, hover, and focus states. If you want a button to be present but not yet clickable, just add the disabled modifier class provided in the example.
            The buttons with an icon contain an extra container with the SVG-code. Just choose a button that fits best to your situation, copy the code and alter to your needs.
    </p>
    
    <br>
    <h4 class="c-copy--h3">Elements and modifiers</h4>
    <ul>
        <li> .pds-c-button[ .primary | .secondary ]</li>
        <li> .pds-c-button[ .large | .regular |.small ]</li>
        <li> .pds-c-button[ .full-width ]</li>
        <li> .pds-c-button[ .accent | .disabled ]</li>
        <li> .pds-c-button[ .toggle[.on|.off] | .transparent ]</li>
        <li> .pds-c-button > pds-c.button-label</li>
        <li> .pds-c-button > .pds-c-button-content[.big] > [ i.pds-c-button-icon .{name} + ] .pds-c-button-label [ .left | .right ]  [ + i.pds-c-button-icon .{name} ] </li>
        <li> .pds-c-button > .pds-c-button-content[.big] > [ svg.pds-c-button-icon + ] .pds-c-button-label [ .left | .right ]  [ + svg.pds-c-button-icon ] </li>

    </ul>
    
    <h1 class="c-copy--h1">Themes</h1>

    <form>
        <select class="pds-c-input dropdown full-width"
            onchange="document.body.className=this.options[this.selectedIndex].value">
            <option value="" selected disabled>Select a theme ...</option>
            {% for themeid,themename in themes %}
                <option value="{{ themeid }}">{{ themename }}</option>
            {% endfor %}
        </select>
    </form>

    
{% endblock %}

{% block component_list %}

    {% for component in components.button %}

        {# fix svg icons paths .. #}
        {% if component.svgicon %}
            {% set svgicon = component.svgicon|merge({'directory': rooturi ~ '../../assets/images/icons' })  %}
            {% set component = component|merge({'svgicon': svgicon}) %}
        {% endif %}
        {% if component.svgicon_right %}
            {% set svgicon_right = component.svgicon_right|merge({'directory': rooturi ~ '../../assets/images/icons' })  %}
            {% set component = component|merge({'svgicon_right': svgicon_right}) %}
        {% endif %}
        {% if component.svgicon_left %}
            {% set icon_left = component.svgicon_left|merge({'directory': rooturi ~ '../../assets/images/icons' })  %}
            {% set component = component|merge({'svgicon_left': icon_left}) %}
        {% endif %}

        {{ ui.styleguide_component(component.styleguide_type, component, styleguide.outputs) }}
        
    {% endfor %}
{% endblock %}
