{% import 'macros.twig' as ui %}


{% if url %}
<a class="c-logo" href="{{ url }}" title="{{ title }}">
    {% endif %}

    {{ ui.svg(logo.name, {
        directory: logo.directory,
        width: logo.width|default(85),
        height: logo.height|default(20),
        css_classes: []
    }) }}

    {% if url %}
</a>
{% endif %}