/*
    Add colors by name, this will help for consistency and to remember which color to use (you can remember blue--deep-sky, but #00b4e6 is hard)
    Names can be rendered with: https://www.color-blindness.com/color-name-hue/
    pattern: hue--color-name
    If a color contains it's hue in the name, leave the hue in the color name behind, for example:
    #2A3FC9 = 'blue--cerulean-blue', but becomes: 'blue--cerulean'
*/

/* stylelint-disable color-no-hex */
$zss--colors: (
    black: #000,
    white: #fff,
    transparent: transparent,
    blue--deep-sky: #00b4e6,
    green--vida-loca: #58a333,
    grey--gainsboro: #dbdbdb,
    grey--romance: #f5f0e9,
    grey--romance--light: #fbf9f6,
    orange--cinnabar: #eb5b25,
    red--crimson: #d60d41,
    red--hollywood-cerise: #d7007e,
    violet--purple-dark: #98177c,
    yellow--my-sin: #fcc243,
);
/* stylelint-enable color-no-hex */

// TO DO: rename the themes, here and whereever they are used inside components or Sass..
$prodemos-themes: (
    ("corporate", blue--deep-sky, orange--cinnabar),
    ("theme2", yellow--my-sin, violet--purple-dark),
    ("theme3", orange--cinnabar, blue--deep-sky),
    ("theme4", red--crimson, green--vida-loca),
    ("theme5", red--hollywood-cerise, yellow--my-sin),
    ("theme6", violet--purple-dark, yellow--my-sin),
    ("theme7", green--vida-loca, red--crimson),
);


// Opacity values, used for color
$color-lighten-scale: 0% 10% 20% 30% 40% 50%;
$color-darken-scale: 5% 10%;


// Provide a default font-size list for a consistent typing scale
$type-scale: 56px 44px 32px 24px 22px 18px 16px 14px 12px;
$base-font-size: 18px;


$line-height-scale: 0 1 1.25 1.5 1.75;
$base-line-height: 1.5;


// Provide a default spacing scale for consistent spacings
// eg: top: nth($spacing-scale, 4); = 12px
$spacing-scale: 0 4px 8px 12px 16px 20px 24px 32px 48px 56px;


$prodemos--breakpoints: (
    xs: 0,
    sm: 550px,
    md: 760px,
    lg: 990px,
    xl: 1200px
);
