/*
    m- classes are global modifiers,
    translating values from sass/variables/
    straight to css

    m-colored.black
    m-filled.red.lighten3
    m-bordered.corporate.accent.darken2
    etc

*/

@each $cname, $cvalue in $pds-colors {
    .pds-m-filled.#{$cname} {
        background-color: $cvalue;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                background-color: lighten($cvalue, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                background-color: darken($cvalue, $dscale);
            }
        }
    }
    .pds-m-colored.#{$cname} {
        color: $cvalue;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                color: lighten($cvalue, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                color: darken($cvalue, $dscale);
            }
        }
    }
    .pds-m-bordered.#{$cname} {
        border-color: $cvalue;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                border-color: lighten($cvalue, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                border-color: darken($cvalue, $dscale);
            }
        }
    }
}

@each $themename in map-keys($pds-themes) {
    $fillcolor: pds-theme-color($themename,'fill');
    $acccolor: pds-theme-color($themename,'accent');
    .pds-m-filled.#{$themename} {
        background-color: $fillcolor;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                background-color: lighten($fillcolor, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                background-color: darken($fillcolor, $dscale);
            }
        }
        &.accent {
            background-color: $acccolor;
            @for $lidx from 1 through length($color-lighten-scale) {
                $lscale : nth($color-lighten-scale, $lidx);
                &.lighten#{$lidx} {
                    background-color: lighten($acccolor, $lscale);
                }
            }
            @for $didx from 1 through length($color-darken-scale) {
                $dscale : nth($color-darken-scale, $didx);
                &.darken#{$didx} {
                    background-color: darken($acccolor, $dscale);
                }
            }
        }
    }
    .pds-m-colored.#{$themename} {
        color: $fillcolor;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                color: lighten($fillcolor, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                color: darken($fillcolor, $dscale);
            }
        }
        &.accent {
            color: $acccolor;
            @for $lidx from 1 through length($color-lighten-scale) {
                $lscale : nth($color-lighten-scale, $lidx);
                &.lighten#{$lidx} {
                    color: lighten($acccolor, $lscale);
                }
            }
            @for $didx from 1 through length($color-darken-scale) {
                $dscale : nth($color-darken-scale, $didx);
                &.darken#{$didx} {
                    color: darken($acccolor, $dscale);
                }
            }
        }
    }
    .pds-m-bordered.#{$themename} {
        border-color: $fillcolor;
        @for $lidx from 1 through length($color-lighten-scale) {
            $lscale : nth($color-lighten-scale, $lidx);
            &.lighten#{$lidx} {
                border-color: lighten($fillcolor, $lscale);
            }
        }
        @for $didx from 1 through length($color-darken-scale) {
            $dscale : nth($color-darken-scale, $didx);
            &.darken#{$didx} {
                border-color: darken($fillcolor, $dscale);
            }
        }
        &.accent {
            border-color: $acccolor;
            @for $lidx from 1 through length($color-lighten-scale) {
                $lscale : nth($color-lighten-scale, $lidx);
                &.lighten#{$lidx} {
                    border-color: lighten($acccolor, $lscale);
                }
            }
            @for $didx from 1 through length($color-darken-scale) {
                $dscale : nth($color-darken-scale, $didx);
                &.darken#{$didx} {
                    border-color: darken($acccolor, $dscale);
                }
            }
        }
    }
}