{% extends 'base.html.twig' %}
{% import 'macros.html.twig' as ui %}


{% block head_title 'Form elements' %}


{% block body_intro %}
    <h1 >Form elements</h1>

    <p>Input components are a bit simpler than buttons. Just add the default input class (c-input), 
    add the specific modifier class for the type of input (eg text) and optionally a theme (t-corporate). 
    Just as with buttons they can be disabled, just add the modifier class 'disabled'.</p>
    
    <p>
    Forms use themes for their different colors. If you want a 
    different colored form element, try a different theme on the form.
    </p>
    <h3 >Elements and modifiers</h3>
    <ul>
        
        <li> .pds-c-input[.disabled][.transparent]</li>
        <li> input[type=text|number|email|tel|password|number|date|time].pds-c-input[.valid|.invalid]</li>
        <li> textarea.pds-c-input[.full-width]</li>
        <li> select.pds-c-input[.full-width]</li>
        <li> label.pds-c-input-label</li>
        <li> .pds-c-input-container[.radio|.checkbox]</li>
        <li> .pds-c-input-container.radio > input[type=radio][.has-validation] + .pds-c-input-check + label</li>
        <li> .pds-c-input-container.checkbox > input[type=checkbox][.has-validation] + .pds-c-input-check + label</li>
        <li> .pds-c-progress[.pending|.ready|.error][.white] > .spinner</li>
    </ul>


{% endblock %}

{% block body_content %}

    <!-- custom elements -->
    <div class="demo-component">
        <div class="demo-component-view  ">
            <label for="label-demo" class="pds-c-input-label">Some label</label><br>
            <input id="label-demo" class="pds-c-input" type="text" value="demo">
        </div>
        <div class="demo-component-meta  ">
           <h2 class="demo-component-list__title">Label</h2>
            <xmp class="demo-component-code">
<label for="label-demo" class="pds-c-input-label">Some label</label><br>
<input id="label-demo" class="pds-c-input" type="text" value="demo"></xmp>
        </div>
    </div>


    {% for component in components['form-elements'] %}
        {{ ui.styleguide_component(component.styleguide_type, component, styleguide.outputs) }}
    {% endfor %}

    <!-- custom elements -->
    
    <div class="demo-component  ">
        <div class="demo-component-view  ">
            <span class="pds-c-input">padding</span>
        </div>
        <div class="demo-component-meta  ">
           <h2 class="demo-component-list__title">Fake input</h2>
            <xmp class="demo-component-code"><span class="pds-c-input">padding</span></xmp>
        </div>
    </div>

    <div class="demo-component  ">
        <div class="demo-component-view  ">
            <button class="pds-c-button small regular">Submit</button>
            <div class="pds-c-progress pending">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="demo-component-meta  ">
           <h2 class="demo-component-list__title">Progress spinner</h2>
            <xmp class="demo-component-code">
<div class="pds-c-progress pending">
    <div class="spinner"></div>
</div>
            </xmp>
        </div>
    </div>

    <div class="demo-component  ">
        <div class="demo-component-view  pds-m-filled">
            <button class="pds-c-button small regular">Submit</button>
            <div class="pds-c-progress pending white">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="demo-component-meta  ">
           <h2 class="demo-component-list__title">White progress spinner</h2>
            <xmp class="demo-component-code">
<div class="pds-c-progress pending white">
    <div class="spinner"></div>
</div>
            </xmp>
        </div>
    </div>

{% endblock %}
