{% extends 'styleguide/component.html.twig' %}
{% import 'macros/components.html.twig' as ui %}


{% block head_title 'Navigation - Styleguide' %}


{% block component_intro %}
   <h1 >Navigation</h1>
   <p>
        Tab menus can be written using bullet lists or any other 
        type of element with the right classes. The tabs with content
        panels require javascript to work.
   </p>
   <br>
    <h3 >Elements and modifiers</h3>
    <ul>
        <li> ul.pds-c-menu li a </li>
        <li> ul.pds-c-list[.breakout] [.pds-c-list-header] li</li>
        <li> .pds-c-droplink .pds-c-droplink-content[.right] ul li</li>
        <li> .pds-c-tabs-container</li>
        <li> .pds-c-tabs-container > ( ul | ol | .pds-c-tabs ) [ + .pds-c-tabs-panels ]</li>
        <li> .pds-c-tabs > ( li | .pds-c-tabs-item ) > ( a | .pds-c-tabs-link )[ .current ]</li>
        <li> .pds-c-tabs-panels > .pds-c-tabs-panel[ .current ]</li>
        <li> .pds-c-list[.breakout] [.pds-c-list-header] [.pds-c-list-item]</li>
        

    </ul>

    <h1 >Themes</h1>
    
    <form>
        <select class="pds-c-input dropdown full-width"
            onchange="document.body.className=this.options[this.selectedIndex].value">
            <option value="" selected disabled>Select a theme ...</option>
            {% for themeid,themename in themes %}
                <option value="{{ themeid }}">{{ themename }}</option>
            {% endfor %}
        </select>
    </form>

{% endblock %}

{% block component_list %}

    <!-- menu -->

    <div class="demo-component  demo-component-full">
        <div class="demo-component-view  demo-component-view--full">
            <ul class="pds-c-menu">
                <li><a href="#">Item 1</a></li>
                <li><a href="#">Item 2</a></li>
                <li><a href="#">Item 3</a></li>
            </ul>      
        </div>
        <div class="demo-component-meta  demo-component-meta--full">
            <h2 class="demo-component-list__title">Menubar</h2>
            <xmp class="demo-component-code">
<ul class="pds-c-menu">
    <li><a href="#">Item 1</a></li>
    <li><a href="#">Item 2</a></li>
    <li><a href="#">Item 3</a></li>
</ul> 
            </xmp>
        </div>
    </div>

    <!-- menu -->

    <div class="demo-component  demo-component-full">
        <div class="demo-component-view  demo-component-view--full">
            <ul class="pds-c-menu">
                <li>
                    <a href="#">Item 1</a>
                    <ul>
                        <li><a href="#">Item 1.2</a></li>
                        <li><a href="#">Item 1.3</a></li>
                    </ul>
                </li>
                <li><a href="#">Item 2</a></li>
                <li>
                    <a href="#">Item 3</a>
                    <ul>
                        <li>
                            <a href="#">Item 3.1</a>
                            <ul>
                                <li><a href="#">Item 3.1.1</a></li>
                                <li><a href="#">Item 3.1.2</a></li>
                            </ul>
                                </li>
                        <li><a href="#">Item 3.2</a></li>
                    </ul>
                </li>
            </ul>      
        </div>
        <div class="demo-component-meta  demo-component-meta--full">
            <h2 class="demo-component-list__title">Menubar (nested)</h2>
            <xmp class="demo-component-code">
<ul class="pds-c-menu">
    <li>
        <a href="#">Item 1</a>
        <ul>
            <li><a href="#">Item 1.2</a></li>
            <li><a href="#">Item 1.3</a></li>
        </ul>
    </li>
    <li><a href="#">Item 2</a></li>
    <li>
        <a href="#">Item 3</a>
        <ul>
            <li>
                <a href="#">Item 3.1</a>
                <ul>
                    <li><a href="#">Item 3.1.1</a></li>
                    <li><a href="#">Item 3.1.2</a></li>
                </ul>
                    </li>
            <li><a href="#">Item 3.2</a></li>
        </ul>
    </li>
</ul>   
            </xmp>
        </div>
    </div>

    <!-- list -->

    <div class="demo-component  demo-component-full">
        <div class="demo-component-view  demo-component-view--full">
            <ul class="pds-c-list">
                <h3 class="pds-c-list-header">List header</h3>    
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>      
        </div>
        <div class="demo-component-meta  demo-component-meta--full">
            <h2 class="demo-component-list__title">Plain List</h2>
            <xmp class="demo-component-code">
<ul class="pds-c-list">
    <h3 class="pds-c-list-header">List</h3>    
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul> 
            </xmp>
        </div>
    </div>

    <!-- droplink -->

    <div class="demo-component  demo-component-full">
        <div class="demo-component-view  demo-component-view--full">
            <a class="pds-c-droplink">
                Droplink: Hover me
                <div class="pds-c-droplink-content">
                    <ul>
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div>
            </a>      
        </div>
        <div class="demo-component-meta  demo-component-meta--full">
            <h2 class="demo-component-list__title">Droplink</h2>
            <xmp class="demo-component-code">
<a class="pds-c-droplink">
    Droplink: Hover me
    <div class="pds-c-droplink-content">
        <ul>
            <li>Item 1</li>
            <li>Item 2</li>
            <li>Item 3</li>
        </ul>
    </div>
</a>  
            </xmp>
        </div>
    </div>

    {% for component in components['tab-navigation'] %}
        {{ ui.styleguide_component(component.styleguide_type, component, styleguide.outputs) }}
    {% endfor %}

    


{% endblock %}
