
.demo-component {
    display: grid;
    grid-column-gap: 3rem;
    grid-template-columns: 280px minmax(0, 1fr);
    margin-bottom: 80px;

    @include pds-media(m,min) {
        grid-template-columns: 50% minmax(0, 1fr);
    }

    &.demo-component-full {
        grid-template-columns: 280px minmax(0, 1fr);

        @include pds-media(m,min) {
            grid-template-columns: 400px minmax(0, 1fr);
        }
    }
}



.demo-component-code {
    overflow: auto;
    padding: 0.25rem;
    background-color: var(--pds-color-creme-80);
    border-color: var(--pds-color-creme);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    font-size: 0.65rem;
    margin: 0 0 1rem;
    //white-space:pre-wrap;
}



.demo-component-title {
    margin-bottom: 0.75rem;
    line-height: 1.25;
}



.demo-component-description {
    margin-bottom: 1.5rem;
}



.demo-component-view {
    grid-column: 1 / -1;
    margin-bottom: 15px;

    @include pds-media(l,min) {
        grid-column: 1 / 1;
        position: relative;
        margin-bottom: 80px;
    }
}

.demo-component-view--full {
    grid-column: 1 / -1;
    margin-bottom: 15px;
}

.demo-component-view--dark {
    padding: 1rem;
    border-radius: 3px;
    background-color: var(--pds-color-black-80);
}



.demo-component-meta {
    //margin-bottom: 80px;
}

.demo-component-meta--full {
    grid-column: 1 / -1;
    max-width: 80vw;

    @include pds-media(m,min) {
        max-width: 50vw;
    }
}



.demo-component-typograph {
    max-width: 980px;
}
