
.demo-icons {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-gap: 2rem;
}



.demo-icon {
    text-align: center;
}



.demo-icon-name {
    margin-bottom: 2rem;
    font-size: 0.75rem;
}
