.demo-images {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	grid-gap: 2rem;
}

.demo-image {
	text-align: center;
}

.demo-image-name {
	margin-bottom: 2rem;
	font-size: 0.75rem;
	color: pds-color(black-80);
}
