/*
    m- classes are global modifiers,
    translating values from sass/variables/
    straight to css

    m-colored.black
    m-filled.red.lighten3
    m-bordered.corporate.accent.darken2
    etc

*/

@each $cname, $cvalue in $pds-colors {
    .pds-m-filled.#{$cname} {
        background-color: var(--pds-color-#{$cname});
    }
    .pds-m-colored.#{$cname} {
        color: var(--pds-color-#{$cname});
    }
    .pds-m-bordered.#{$cname} {
        border-color: var(--pds-color-#{$cname});
    }
}

// default theming 


.pds-m-filled {
    background-color: var(--pds-color-theme-fill);
    color:var(--pds-color-theme-stroke);
    &.accent {
        background-color: var(--pds-color-theme-fill2);
        color: var(--pds-color-theme-stroke2);
    }
}
.pds-m-colored {
    color: var(--pds-color-theme-fill);
    &.accent {
        color: var(--pds-color-theme-fill2);
    }
}
.pds-m-bordered {
    border-color: var(--pds-color-theme-fill);
    &.accent {
        border-color: var(--pds-color-theme-fill2);
    }
}

// themes

@each $themename, $thememap in $pds-themes {

    :root .pds-t-#{$themename} {
        --pds-color-theme-fill: #{map-get($thememap,fill)};
        --pds-color-theme-stroke: #{map-get($thememap,stroke)};
        --pds-color-theme-fill2: #{map-get($thememap,fill2)};
        --pds-color-theme-stroke2: #{map-get($thememap,stroke2)};
    }

    /*
    @at-root .pds-t-#{$themename} .pds-m-filled,
    [class^=pds-t-] .pds-t-#{$themename} .pds-m-filled {
        background-color: var(--pds-color-#{$themename}-fill);
        color:var(--pds-color-#{$themename}-stroke);
        &.accent {
            background-color: var(--pds-color-#{$themename}-fill2);
            color:var(--pds-color-#{$themename}-stroke2);
        }
    }
    @at-root .pds-t-#{$themename} .pds-m-colored,
    [class^=pds-t-] .pds-t-#{$themename} .pds-m-colored {
        color: var(--pds-color-#{$themename}-fill);
        &.accent {
            color: var(--pds-color-#{$themename}-fill2);
        }
    }
    @at-root .pds-t-#{$themename} .pds-m-bordered,
    [class^=pds-t-] .pds-t-#{$themename} .pds-m-bordered {
        border-color: var(--pds-color-#{$themename}-fill);
        &.accent {
            border-color: var(--pds-color-#{$themename}-fill2);
        }
    }

    // allow color override swithin a theme
    @each $cname, $cvalue in $pds-colors {
		@at-root .pds-t-#{$themename} .pds-m-filled.#{$cname} {
			background-color: var(--pds-color-#{$cname});
		}
		@at-root .pds-t-#{$themename} .pds-m-colored.#{$cname} {
			color: var(--pds-color-#{$cname});
		}
		@at-root .pds-t-#{$themename} .pds-m-bordered.#{$cname} {
			border-color: var(--pds-color-#{$cname});
		}
	}
    */
}