/*
    pds-t- clases are themes
    
    pds-m- classes are global modifiers,

    pds-t-theme01
    pds-m-colored.black
    pds-m-filled.red.lighten3
    pds- m-bordered.corporate.accent.darken2
    etc

*/


// named colors

@each $cname, $cvalue in $pds-colors {
    .pds-m-filled.#{$cname} {
        background-color: var(--pds-color-#{$cname});
    }
    .pds-m-colored.#{$cname} {
        color: var(--pds-color-#{$cname});
    }
    .pds-m-bordered.#{$cname} {
        border-color: var(--pds-color-#{$cname});
    }
}

// theme selector

@each $themename, $thememap in $pds-themes {
    :root .pds-t-#{$themename} {
        @each $propname, $propval in $thememap {
            --pds-color-#{$propname}: #{$propval};
        }
    }
}

// themed colors

.pds-m-filled {
    background-color: var(--pds-color-fill);
    color:var(--pds-color-stroke);
    &.accent {
        background-color: var(--pds-color-accfill);
        color: var(--pds-color-accstroke);
    }
    @each $shade in 20,40,60,80,110,120 {
        &.fill-#{$shade} {
            background-color: var(--pds-color-fill-#{$shade});
            color: var(--pds-color-stroke);
        }
        &.accent-#{$shade} {
            background-color: var(--pds-color-accfill-#{$shade});
            color: var(--pds-color-accstroke);
        }
    }
}
.pds-m-colored {
    color: var(--pds-color-fill);
    &.accent {
        color: var(--pds-color-accfill);
    }
    @each $shade in 20,40,60,80,110,120 {
        &.fill-#{$shade} {
            color: var(--pds-color-fill-#{$shade});
        }
        &.accent-#{$shade} {
            color: var(--pds-color-accfill-#{$shade});
        }
    }
}
.pds-m-bordered {
    border-color: var(--pds-color-fill);
    &.accent {
        border-color: var(--pds-color-accfill);
    }
    @each $shade in 20,40,60,80,110,120 {
        &.fill-#{$shade} {
            border-color: var(--pds-color-fill-#{$shade});
        }
        &.accent-#{$shade} {
            border-color: var(--pds-color-accfill-#{$shade});
        }
    }
}

