// -----------------------------------------------------------------------------
// #COMPONENTS tables
// -----------------------------------------------------------------------------

/* stylelint-disable declaration-no-important, max-nesting-depth */
.c-table {
    width: 100%;
    height: auto !important;
    margin-bottom: nth($spacing-scale, 7);
    color: get-color(black);
    border-spacing: 0;

    // Responsive table, rotated on mobile
    &.c-table--responsive {
        @include media-until(lg) {
            display: block;
        }
    }
}

.c-table__head,
.c-table__body {

    // Responsive table, rotated on mobile
    .c-table--responsive & {
        @include media-until(lg) {
            display: block;
        }
    }
}



.c-table__row {
    border: none;
    transition: background-color 0.1s ease-in-out;

    // Responsive table, rotated on mobile
    .c-table--responsive & {
        @include media-until(lg) {
            display: block;
            margin: 0 0 1rem;
        }

        /* Hide table headers (but not display: none;, for accessibility) */
        &.c-table__row--header {
            @include media-until(lg) {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }
    }

    &:nth-child(odd):not(.c-table__row--header) {
        background: get-color(grey--romance--light);
    }
}


.c-table__header {
    padding: nth($spacing-scale, 3) nth($spacing-scale, 4);
    font-size: nth($type-scale, 8);
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
}


.c-table__value {
    padding: nth($spacing-scale, 3) nth($spacing-scale, 4);
    font-size: nth($type-scale, 8);

    // Responsive table, rotated on mobile
    .c-table--responsive & {
        @include media-until(lg) {
            /* Behave  like a "row" */
            position: relative;
            display: block;
            padding: nth($spacing-scale, 3) nth($spacing-scale, 4) nth($spacing-scale, 3) 50%;
            border: none;

            &::before {
                /* Now make a table header */
                position: absolute;

                /* Top/left values mimic padding */
                top: nth($spacing-scale, 3);
                left: nth($spacing-scale, 4);
                width: 45%;
                padding-right: nth($spacing-scale, 4);
                white-space: nowrap;
                font-weight: 500;
            }

            &:nth-of-type(n+1)::before {
                content: attr(data-label);
            }
        }
    }
}

/* stylelint-enable declaration-no-important, max-nesting-depth */
