
$font-path: "#{$font-base-path}/bree-serif/";

@font-face {
    font-display: swap;
    font-family: "Bree Serif";
    font-style: normal;
    font-weight: 400;
    src: url("#{$font-path}bree-serif-v9-latin-regular.eot"); /* IE9 Compat Modes */
    src:
        local("Bree Serif Regular"),
        local("BreeSerif-Regular"),
        url("#{$font-path}bree-serif-v9-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("#{$font-path}bree-serif-v9-latin-regular.woff2") format("woff2"),
        url("#{$font-path}bree-serif-v9-latin-regular.woff") format("woff"),
        url("#{$font-path}bree-serif-v9-latin-regular.ttf") format("truetype"),
        url("#{$font-path}bree-serif-v9-latin-regular.svg#BreeSerif") format("svg");
}
