{% extends 'base.html.twig' %}
{% import 'macros/components.html.twig' as ui %}


{% block head_title 'Design' %}


{% block component_intro %}
    <h1 >Files</h1>
{% endblock %}

{% block component_list %}
    <div class="body-content">

        <h2>Github</h2>
        <p>
            The Github repo can be found at:
            <br>
            <a href="https://github.com/prodemos/pds"  target="_blank">https://github.com/prodemos/pds</a>
        </p>


        <h2>Sketch file and style guide</h2>
        <p>
            The sketch file contains the design elements, components and some previews,
            but also documentation on the styleguide.
            <br><br>
            <a href="https://www.sketch.com/s/a038cf33-0b70-4241-8eb1-e07871617039" target="_blank">
                https://www.sketch.com/s/a038cf33-0b70-4241-8eb1-e07871617039
            </a>
            <br><br>
            This document is a library, which anyone can download. You can add it to
            your own sketch file and use the components included. If one of the components
            is updated in the master file sketch will warn you and you can update your
            local components.
        </p>

        <h2>CSS</h2>
        <p>
            The compiled CSS can be found here:
            <br>
            <a href="{{ rooturi }}assets/css/main.css"  target="_blank">CSS-file</a>
        </p>
    </div>
{% endblock %}