


.page-body {
    hr {
        margin:1em 0;
    }
    dl {
        margin:1em 0;
    }
    dt, dd {
        margin: revert;
        padding: revert;
    }
    xmp {
        padding:1em;
        background-color: pds-color(creme-40);
    }
}

.content-text {
    h1 {
        margin-bottom: nth($pds-spacings, 5);
        font-size: pds-fontsize(xl);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(xxl);
        }
    }

    h2 {
        margin-bottom: nth($pds-spacings, 4);
        font-size: pds-fontsize(l);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(xl);
        }
    }

    h3 {
        margin-bottom: nth($pds-spacings, 3);
        font-size: pds-fontsize(m);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(l);
        }
    }

    h4 {
        margin-bottom: nth($pds-spacings, 3);
        font-size: pds-fontsize(default);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(m);
        }
    }

    h5 {
        margin-bottom: nth($pds-spacings, 3);
        font-size: pds-fontsize(default);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(5);
        }
    }

    h6 {
        margin-bottom: nth($pds-spacings, 3);
        font-size: pds-fontsize(default);

        @include pds-media(lg,min) {
            font-size: pds-fontsize(m);
        }
    }

    p {
        margin-bottom: nth($pds-spacings, 7);
        font-size: pds-fontsize(default);
        font-weight: 400;
        line-height: pds-lineheight(m);

        @include pds-media(lg,min) {
            margin-bottom: nth($pds-spacings, 8);
        }
    }

    strong,
    b {
        font-weight: 600;
    }

    i,
    em {
        font-style: italic;
    }

    a {
        //color: darken((pds-color(blue)), nth($pds-darken-scale, 1));
        color:var(--pds-color-fill-110); // d1
        font-weight: 500;
        text-decoration: none;
        transition: color 0.15s ease-out;
        word-break: break-all;

        @include hover {
            // color: darken((pds-color(blue)), nth($pds-darken-scale, 1));
            color:var(--pds-color-fill-110); // d1
            text-decoration: underline;
        }

        &:visited {
            //color: darken((pds-color(blue)), nth($pds-darken-scale, 2));
            color:var(--pds-color-fill-120); // d2
        }

    }

    ul,
    ol {
        margin: 0 0 nth($pds-spacings, 6) nth($pds-spacings, 5);
        padding: 0;
    }

    li {
        margin-bottom: nth($pds-spacings, 2);
    }
    

}


.body-main h1 {
    margin-bottom: 3rem;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: pds-color(black-80);
    font-size: 1.9rem;
}



.body-main h2 {
//    text-transform: uppercase;
    margin-bottom: 3rem;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: pds-color(black-80);
    font-size: 1.5rem;
}



.body-main h3 {
    text-transform: uppercase;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

