@use "../../assets/sass/pds";

.page-body {
    hr {
        margin:1em 0;
    }
    dl {
        margin:1em 0;
    }
    dt, dd {
        margin: revert;
        padding: revert;
    }
    xmp {
        padding:1em;
        background-color: var(--pds-color-creme-40);
    }
}

.content-text {
    h1 {
        margin-bottom: pds.pds-spacing(s);
        font-size: pds.pds-fontsize(xl);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(xxl);
        }
    }

    h2 {
        margin-bottom: pds.pds-spacing(xs);
        font-size: pds.pds-fontsize(l);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(xl);
        }
    }

    h3 {
        margin-bottom: pds.pds-spacing(xxs);
        font-size: pds.pds-fontsize(m);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(l);
        }
    }

    h4 {
        margin-bottom: pds.pds-spacing(xxs);
        font-size: pds.pds-fontsize(default);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(m);
        }
    }

    h5 {
        margin-bottom: pds.pds-spacing(xxs);
        font-size: pds.pds-fontsize(default);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(5);
        }
    }

    h6 {
        margin-bottom: pds.pds-spacing(xxs);
        font-size: pds.pds-fontsize(default);

        @include pds.pds-media(l,min) {
            font-size: pds.pds-fontsize(m);
        }
    }

    p {
        margin-bottom: pds.pds-spacing(m);
        font-size: pds.pds-fontsize(default);
        font-weight: 400;
        line-height: pds.pds-lineheight(m);

        @include pds.pds-media(l,min) {
            margin-bottom: pds.pds-spacing(l);
        }
    }

    strong,
    b {
        font-weight: 600;
    }

    i,
    em {
        font-style: italic;
    }

    a {
        color:var(--pds-color-fill-110); 
        font-weight: 500;
        text-decoration: none;
        transition: color 0.15s ease-out;
        word-break: break-all;

        @include pds.hover {
            color:var(--pds-color-fill-110); 
            text-decoration: underline;
        }

        &:visited {
            color:var(--pds-color-fill-120); 
        }

    }

    ul,
    ol {
        margin: 0 0 pds.pds-spacing(default) pds.pds-spacing(s);
        padding: 0;
    }

    li {
        margin-bottom: pds.pds-spacing(tiny);
    }
    

}


.body-main {
    h1 {
        margin-bottom: 3rem;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: var(--pds-color-black-80);
        font-size: 1.9rem;
    }

    h2 {
        margin-bottom: 3rem;
        border-width: 0 0 1px;
        border-style: solid;
        border-color: var(--pds-color-black-80);
        font-size: 1.5rem;
    }
    h3 {
        text-transform: uppercase;
        font-size: 1.1rem;
        margin-bottom: 0.5rem;
    }
    
    .body-intro {

        ul {
            padding:0 1em;
        }
        p {
            margin-bottom:1em;
        }
    }

    .body-content {
        p {
            margin-bottom:1em;
        }
    }
}

