{% extends 'buttons/_button.html.twig' %}
{% import 'macros.twig' as ui %}


{% block button_content %}
    <span class="c-button__icon-container">
        <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
        {{ ui.svg(icon_left.name, {
            width: icon_left.width|default(10),
            height: icon_left.height|default(10),
            directory: icon_left.directory|default('images/icons/24px'),
            css_classes: ['c-button__icon', 'c-button__icon--left', 'c-button__icon--' ~ icon_left.name]
        }) }}

        <span class="c-button__icon-container__label  c-button__icon-container__label--right  {{ js_hook_text }}">
            {% if text %}
                {{ text }}
            {% endif %}
        </span>

        <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
        {{ ui.svg(icon_right.name, {
            width: icon_right.width|default(10),
            height: icon_right.height|default(10),
            directory: icon_right.directory|default('images/icons/24px'),
            css_classes: ['c-button__icon', 'c-button__icon--right', 'c-button__icon--' ~ icon_right.name]
        }) }}
    </span>
{% endblock %}
