{% extends 'buttons/_button.html.twig' %}
{% import 'macros.twig' as ui %}

{% block button_content %}
    {#%- if app.debug %}
        {{ _context|validate_context({
            text: 'required',
        }) }}
    {% endif -%#}

    <span class="c-button__icon-container__label">{{ text }}</span>
{% endblock %}

