{% extends 'buttons/_button.html.twig' %}
{% import 'macros.twig' as ui %}

{% block button_content %}
    <span class="{% if bem %}c-button__icon-container__label{% else %}c-btn-label{% endif %}">{{ text }}</span>
{% endblock %}

