@use "../helpers/size";

// -----------------------------------------------------------------------------
// #COMPONENTS list
// .pds-c-list[.breakout] [.pds-c-list-header] [.pds-c-list-item]
// ul.pds-c-list[.breakout] [.pds-c-list-header] li
// -----------------------------------------------------------------------------

.pds-c-list {
    width: 100%;
    height: auto !important;
    margin-bottom: size.spacing(m);
    color: var(--pds-color-black);
    list-style-type: none;
  
    &.breakout {
      margin-left: -12px;
      margin-right: -12px;
    }
  
    .pds-c-list-header {
      padding: size.spacing(xxs) size.spacing(xs);
      font-size: size.fontsize(xs);
      font-weight: 500;
      text-align: left;
      text-transform: uppercase;
      vertical-align: top;
    }
  
    li,
    .pds-c-list-item {
      transition: background-color 0.1s ease-in-out;
  
      padding: size.spacing(xxs) size.spacing(xs);
      font-size: size.fontsize(xs);
  
      &:nth-child(even):not(.pds-c-list-header) {
        background: var(--pds-color-creme);
      }
    }
  }
  
  