
// _button.scss
// libsass<3.6 has a regression issue with not():
// https://github.com/sass/node-sass/issues/2330

// Importance
.c-btn--primary {
   
    // Hover styles, but only when the button is not disabled
    /* stylelint-disable max-nesting-depth */
    
    
    // @include hover:not(.c-btn-disabled) {

    @include hover {
        transform: translate(-2px, 2px);
        &::before {
            width: 8px;
            height: 100%;
            bottom: -5px;
            left: -8px;
        }

        &::after {
            width: 100%;
            height: 8px;
            bottom: -8px;
            left: -5px;
        }
    }
    
    // libsass<3.6 has a regression issue with this:
    // https://github.com/sass/node-sass/issues/2330
    // &:active:not(.c-btn--disabled) {

    &:active {
        transform: translate(-5px, 5px);

        &::before {
            width: 6px;
            height: 100%;
            bottom: -3px;
            left: -6px;
        }

        &::after {
            width: 100%;
            height: 6px;
            bottom: -6px;
            left: -3px;
        }
        
    }

    &.c-btn--disabled {
        @include hover {
            transform: translate(0, 0);
            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: all 100ms ease-in-out;
                z-index: -1;
            }

            &::before {
                width: 10px;
                height: 100%;
                bottom: -5px;
                left: -10px;
                transform: skewY(-45deg);
            }

            &::after {
                width: 100%;
                height: 10px;
                bottom: -10px;
                left: -5px;
                transform: skewX(-45deg);
            }
        }

        &:active  {
            transform: translate(0, 0);
            &::before,
            &::after {
                content: "";
                position: absolute;
                transition: all 100ms ease-in-out;
                z-index: -1;
            }

            &::before {
                width: 10px;
                height: 100%;
                bottom: -5px;
                left: -10px;
                transform: skewY(-45deg);
            }

            &::after {
                width: 100%;
                height: 10px;
                bottom: -10px;
                left: -5px;
                transform: skewX(-45deg);
            }
        }
            
    }
}

/* _button-nobem */

.c-btn { 
    &.primary {
        &.disabled {
            @extend .c-btn--primary.c-btn--disabled;
        }
    }
}