{% import 'macros.twig' as ui %}


{% if url %}
<a class="pds-c-logo" href="{{ url }}" title="{{ title }}">
{% endif %}
    <figure>
        {{ ui.svg(logo.name, {
            directory: logo.directory,
            width: logo.width,
            height: logo.height,
            css_classes: []
        }) }}
    </figure>
{% if url %}
</a>
{% endif %}