{% extends 'pds/components/button/_button.html.twig' %}
{% import 'macros.twig' as ui %}


{% block button_content %}
    <span class="pds-c-button-content">
        <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
        {{ ui.svg(icon_left.name, {
            width: icon_left.width|default(10),
            height: icon_left.height|default(10),
            directory: icon_left.directory|default('assets/images/icons/24px'),
            css_classes: ['pds-c-button-icon', 'left', 'icon--' ~ icon_left.name|basename]
        }) }}

        <span class="pds-c-button-label right">
            {% if text %}
                {{ text }}
            {% endif %}
        </span>

        <!-- replace the SVG-code with the appropriate from the folder 'images/icons/24px' -->
        {{ ui.svg(icon_right.name, {
            width: icon_right.width|default(10),
            height: icon_right.height|default(10),
            directory: icon_right.directory|default('assets/images/icons/24px'),
            css_classes: ['pds-c-button-icon', 'right', 'icon--' ~ icon_right.name|basename]
        }) }}
    </span>

{% endblock %}
