@mixin slant($color: blue-40, $direction: bottom-left, $size: 10px) {
    
    
    position:relative;
    
    &::before, &::after {
        background-color: var(--pds-color-#{$color});
        content: "";
        position: absolute;
        z-index: -1;
    }
    
    &::before {
		width: $size;
		height: 100%;
	}
	&::after {
		width: 100%;
		height: $size;
	}

	@if $direction == 'bottom-left' {

        &::before {
            bottom: calc($size / -2);
            left: -$size;
            transform: skewY(-45deg);
        }
        &::after {
            bottom: -$size;
            left: calc($size / -2);
            transform: skewX(-45deg);
        }
    }
    
    @if $direction == 'bottom-right' {
    
        &::before {
        	bottom: calc($size / -2);
            right: -$size;
            transform: skewY(45deg);
        }
        &::after {
        	bottom: -$size;
            left: calc($size / 2);
            transform: skewX(45deg);
        }
    }
}