// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-button
// .pds-c-button[ .primary | .secondary ]
// .pds-c-button[ .large | .regular |.small ]
// .pds-c-button[ .accent | .disabled ]
// .pds-c-button[ .toggle | .transparent ]
// .pds-c-button > pds-c.button-label
// .pds-c-button > .pds-c-button-content > [ i.pds-c-button-icon .{name} + ] .pds-c-button-label[ .left | .right ]  [ + i.pds-c-button-icon .{name} ] 
// .pds-c-button > .pds-c-button-content > [ svg.pds-c-button-icon + ] .pds-c-button-label[ .left | .right ]  [ + svg.pds-c-button-icon ] 
// -----------------------------------------------------------------------------


.pds-c-button {
    position: relative;
    display: inline-block;
    padding: nth($pds-spacings, 5) nth($pds-spacings, 6); // 16px 20px
    font-family: $font--fira-sans;
    font-size: pds-fontsize(m);
    font-weight: 500;
    line-height: 1.5;
    text-decoration: none;
    border: none;
    transition: all 100ms ease-in-out;
    cursor: pointer;
    
    &.full-width {
        width:100%;
    }

    &.primary {

        margin-left: 10px;

        &::before,
        &::after {
            content: "";
            position: absolute;
            transition: all 100ms ease-in-out;
            z-index: 0;
        }

        &::before {
            width: 10px;
            height: 100%;
            bottom: -5px;
            left: -10px;
            transform: skewY(-45deg);
        }

        &::after {
            width: 100%;
            height: 10px;
            bottom: -10px;
            left: -5px;
            transform: skewX(-45deg);
        }

        // Hover styles, but only when the button is not disabled
        /* stylelint-disable max-nesting-depth */
        
        // libsass<3.6 has a regression issue with this:
        // https://github.com/sass/node-sass/issues/2330

        &:not(.disabled) {
            @include hover {
                transform: translate(-2px, 2px);
                &::before {
                    width: 8px;
                    height: 100%;
                    bottom: -5px;
                    left: -8px;
                }

                &::after {
                    width: 100%;
                    height: 8px;
                    bottom: -8px;
                    left: -5px;
                }
            }
        }
        
        
        &:active:not(.disabled) {

            transform: translate(-5px, 5px);

            &::before {
                width: 6px;
                height: 100%;
                bottom: -3px;
                left: -6px;
            }

            &::after {
                width: 100%;
                height: 6px;
                bottom: -6px;
                left: -3px;
            }
            
        }

        /* stylelint-enable max-nesting-depth */
    }


    &.large {
        padding: nth($pds-spacings, 5) nth($pds-spacings, 6); // 16px 20px
        font-size: pds-fontsize(m);
    }



    &.regular {
        padding: nth($pds-spacings, 4) nth($pds-spacings, 5); // 12px 16px
        font-size: pds-fontsize(default);
        .pds-c-button-icon { font-size:1.11em; }
    }



    &.small {
        padding: nth($pds-spacings, 3) nth($pds-spacings, 4); // 8px 12px
        font-size: pds-fontsize(s);
        .pds-c-button-icon { font-size:1.25em; }
    }



    &.toggle {
        width: 100%;
        padding: nth($pds-spacings, 3)  nth($pds-spacings, 4); // 8px 12px
        font-size: pds-fontsize(s);
        text-align: center;
        border-style: solid;
        border-width: 2px;
        &.on {
            color:pds-theme-color($pds-deftheme,'stroke-accent');
            background-color:pds-theme-color($pds-deftheme,'fill-accent');
            border-color:pds-theme-color($pds-deftheme,'fill-accent');
        }
    }



    &.transparent {
        padding: nth($pds-spacings, 3) 0; // 8px 0px
        font-size: pds-fontsize(s);
        .pds-c-button-icon { font-size: 1.625em; }
        .pds-c-button-icon:not(svg).black {
            background-color:black;
        }
    }

    // Disabled state
    &.disabled {
        cursor: not-allowed;
    }

    // --- Sub elements

    .pds-c-button-label {
        flex: 1 1 auto;
        text-align: center;
        .right {
            text-align: right;
        }
        .left {
            text-align: left;
        }
        
    }

    // Icon-prefix or icon-suffix

    .pds-c-button-content {

        display: flex;
        align-items: center;

        &.big {
            font-size:larger;
        }

        .pds-c-button-icon {
            display: block;
            margin-top: -1px;
        }

        .pds-c-button-label + .pds-c-button-icon  {
            margin-left: nth($pds-spacings, 5);
        }
        
        .pds-c-button-icon + .pds-c-button-label  {
            margin-left: nth($pds-spacings, 5);
        }
        

        

    }
    &.transparent  {
        .pds-c-button-content {
            .pds-c-button-label + .pds-c-button-icon  {
                margin-left: nth($pds-spacings, 3);
            }
            
            .pds-c-button-icon + .pds-c-button-label  {
                margin-left: nth($pds-spacings, 3);
            }
        }
    }


}


/* theming */

@mixin pds-button-theme( $theme : $pds-deftheme ) {
    
    // @debug 'theme' $theme;

    color: pds-color(white);
    .pds-c-button-icon:not(svg) { background-color: pds-color(white); }

    background-color: darken(pds-theme-color($theme,fill), nth($pds-darken-scale, 1));
    

    @include hover {
        background-color: darken(pds-theme-color($theme,fill), nth($pds-darken-scale, 2));
    }

    &.primary {
        &::before,
        &::after {
            background-color: lighten(pds-theme-color($theme,fill), nth($pds-lighten-scale, 3));
        }

        // Hover styles, but only when the button is not disabled
        &:not(.disabled) {
            @include hover {
                &.primary {
                    &::before,
                    &::after {
                        background-color: lighten(pds-theme-color($theme,fill), nth($pds-lighten-scale, 2));
                    }
                }
            }
        }

        &:active:not(.disabled) {
            &.primary {
                &::before,
                &::after {
                    background-color: lighten(pds-theme-color($theme,fill), nth($pds-lighten-scale, 1));
                }
            }
        }
    }

    &.accent {
        background-color: darken(pds-theme-color($theme,accent), nth($pds-darken-scale, 1));

        &.primary {
            &::before,
            &::after {
                background-color: lighten(pds-theme-color($theme,accent), nth($pds-lighten-scale, 3));
            }
        }

        // Hover styles, but only when the button is not disabled
        &:not(.disabled) {
            @include hover {
                background-color: darken(pds-theme-color($theme,accent), nth($pds-darken-scale, 2));

                &.primary {
                    &::before,
                    &::after {
                        background-color: lighten(pds-theme-color($theme,accent), nth($pds-lighten-scale, 2));
                    }
                }
            }
        }

        &:active:not(.disabled) {
            &.primary {
                &::before,
                &::after {
                    background-color: lighten(pds-theme-color($theme,accent), nth($pds-lighten-scale, 1));
                }
            }
        }
        &.toggle {
            &.on {
                color:pds-theme-color($theme,'stroke-accent');
                background-color:pds-theme-color($theme,'fill-accent');
                border-color:pds-theme-color($theme,'fill-accent');
            }
        }
    }

    &.disabled {
        background-color: lighten(pds-theme-color($theme,fill), nth($pds-lighten-scale, 4));

        &.primary {
            &::before,
            &::after {
                background-color: lighten(pds-theme-color($theme,fill), nth($pds-lighten-scale, 5));
            }
        }
    }

    &.toggle {

        color: pds-color(black);
        .pds-c-button-icon:not(svg) { background-color: pds-color(black); }

        border-color: pds-color(sand);
        background-color: pds-color(sand);

        &:not(.disabled) {
            @include hover {
                border-color: darken(pds-color(sand), nth($pds-darken-scale, 2));
                background-color: darken(pds-color(sand), nth($pds-darken-scale, 2));
            }
        }

        &:active:not(.disabled) {
            color: pds-color(white);
            .pds-c-button-icon:not(svg) { background-color: pds-color(white); }

            background-color: darken(pds-theme-color($theme,fill), nth($pds-darken-scale, 1));
        }

        &:focus:not(.disabled) {
            border-color: darken(pds-theme-color($theme,accent), nth($pds-darken-scale, 1));
        }

        &.disabled {
            color: lighten(pds-color(black), nth($pds-lighten-scale, 5));
            .pds-c-button-icon:not(svg) { background-color: lighten(pds-color(black), nth($pds-lighten-scale, 5)); }
        }
    }

    &.transparent {
        color: darken(pds-theme-color($theme,fill), nth($pds-darken-scale, 2));
        .pds-c-button-icon:not(svg) { background-color: darken(pds-theme-color($theme,fill), nth($pds-darken-scale, 2)); }
        background-color: pds-color(transparent);
    }
}


.pds-c-button {
    @include pds-button-theme($pds-deftheme);
}


@each $theme in map-keys($pds-themes) {
    .pds-t-#{$theme} .pds-c-button,
    .pds-c-button.pds-t-#{$theme}:not(.inherit) {
        @include pds-button-theme($theme);
    }
}











