
// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-input
// .pds-c-input[.disabled]
//  input[type=text|number|email|tel|password|date|time].pds-c-input [.valid|.invalid]
//  select.pds-c-input [.full-width]
//  textarea.pds-c-input [.full-width]
// .pds-c-input.container[.radio|.checkbox]
// .pds-c-input-container.radio > input[type=radio][.has-validation] + .pds-c-input-check + label
// .pds-c-input-container.checkbox > input[type=checkbox][.has-validation] + .pds-c-input-check + label
// .pds-c-progress[.pending|.ready|.error][.white] > .spinner
// -----------------------------------------------------------------------------



.pds-c-input-container {

    margin-bottom: pds-spacing(s);

    // Radiobutton
    &.radio, &:has(input[type=radio]) {

        
        // The label
        label, .pds-c-input-label {
            &:has(input[type=radio]) {
                display: block;
                position: relative;
                padding: pds-spacing(xs) pds-spacing(default) pds-spacing(xs) pds-spacing(xl);
                margin: pds-spacing(xs) auto;
                z-index: 2;
                cursor: pointer;
                transition: all 0.25s linear;
            }
        }

        input[type=radio], .pds-c-input.radio {
            position: absolute;
            visibility: hidden;
            &.has-validation {
                visibility: visible;
                width: 1em;
                height: 1em;
                opacity: 0;
            }
        }

        // The checkable element (replaces the invisible radio-input)
        .pds-c-input-check {
            display: block;
            position: absolute;
            border: 1px solid var(--pds-color-black-20);
            border-radius: 100%;
            background-color: var(--pds-color-creme);
            height: pds-spacing(default);
            width: pds-spacing(default);
            top: pds-spacing(xs);
            left: pds-spacing(s);
            z-index: 5;
            transition: border 0.25s linear;
            cursor: pointer;

            // The radio tick
            &::before {
                display: block;
                position: absolute;
                content: "";
                border-radius: 100%;
                height: pds-spacing(xs);
                width: pds-spacing(xs);
                top: 3px;
                left: 3px;
                margin: auto;
                transition: background 0.25s linear;
            }
        }
        
    }
    &.checkbox, &:has(input[type=checkbox])  {
       
        // The label
        label, .pds-c-input-label {
            &:has(input[type=checkbox]) {
                display: block;
                position: relative;
                padding: pds-spacing(xs) pds-spacing(default) pds-spacing(xs) pds-spacing(xl);
                margin: pds-spacing(xs) auto;
                z-index: 2;
                cursor: pointer;
                transition: all 0.25s linear;
            }
        }


        // The radio input itself
        input[type=checkbox],.pds-c-input.checkbox {
            position: absolute;
            visibility: hidden;
            &.has-validation {
                visibility: visible;
                width: 1em;
                height: 1em;
                opacity: 0;
            }
        }

        // The checkable element (replaces the invisible checkbox)
        .pds-c-input-check {
            display: block;
            position: absolute;
            border: 1px solid var(--pds-color-black-20);
            background-color: var(--pds-color-creme);
            height: pds-spacing(default);
            width: pds-spacing(default);
            top: pds-spacing(xs);
            left: pds-spacing(s);
            z-index: 5;
            transition: border 0.25s linear;
            cursor: pointer;
        
            // The checkbox tick
            &::before {
                display: block;
                position: absolute;
                content: "";
                height: pds-spacing(xs);
                width: pds-spacing(xs);
                top: 3px;
                left: 3px;
                margin: auto;
                transition: background 0.25s linear;
            }
            
        }
    }


    //default labels are styled
    label {
        @extend .pds-c-input-label;
    }

}


// The default label styling
.pds-c-input-label {
    margin-bottom: pds-spacing(s);
    color: var(--pds-color-black);
    font-family: $font--fira-sans;
    font-size: pds-fontsize(s);
    font-weight: 500;
}



// Basic input styling, shared by all inputs
.pds-c-input {
    outline: none;
    color: var(--pds-color-black);
    font-family: $font--fira-sans;
    font-size: pds-fontsize(s);
    line-height: pds-lineheight(m);
    border-radius: 0;
    background-color: var(--pds-color-creme);

    /* stylelint-disable property-no-vendor-prefix */
    -webkit-appearance: none;
    /* stylelint-enable property-no-vendor-prefix */


    &.disabled {
        color: var(--pds-color-black-10); 
        background-color: var(--pds-color-creme-80); 
        cursor: not-allowed;
    }

    &[type=text], 
    &[type=number],
    &[type=email],
    &[type=tel],
    &[type=password],
    &[type=number],
    &[type=date],
    &[type=time],
    &.text {

        padding: pds-spacing(xs) pds-spacing(xl) pds-spacing(xxs) pds-spacing(default);
        border: none;
        border-bottom: 3px solid var(--pds-color-creme);
        transition: border-bottom-color 150ms ease-in-out;

        

        &.valid {
            background-image: url("#{$pds-assets-path}/images/icons/check-circle-solid-green.svg");
            background-position: top 13px right 15px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            border-bottom-color: var(--pds-color-green);
        }

        &.invalid {
            background-image: url("#{$pds-assets-path}/images/icons/cross-circle-solid-red.svg");
            background-position: top 13px right 15px;
            background-repeat: no-repeat;
            background-size: 24px 24px;
            border-bottom-color: var(--pds-color-red);
        }

        &:read-only {
            background-color: var(--pds-color-black-20);
            border-bottom-color: var(--pds-color-black-20);
            color: var(--pds-color-black-60);
            cursor: default;
            &:focus {
              border-bottom-color: var(--pds-color-black-20);
            }
        }
    }

    // some exceptions
    &[type=number],
    &[type=date],
    &[type=time] {
        padding-right: pds-spacing(default);
    }

    @at-root select#{&}, &.dropdown {
        padding: pds-spacing(xs) pds-spacing(xl) pds-spacing(xs) pds-spacing(default);
        border: none;
        border-bottom: 2px solid var(--pds-color-transparent);
        background-image: url("#{$pds-assets-path}/images/icons/chevrons-updown.svg");
        background-position: top 13px right 15px;
        background-repeat: no-repeat;
        background-size: 24px 24px;
        cursor: pointer;
        transition: border-bottom-color 150ms ease-in-out;

        &:disabled {
            background-color: var(--pds-color-black-20);
            border-bottom-color: var(--pds-color-black-20);
            color: var(--pds-color-black-60);
            cursor: default;
            &:focus {
              border-bottom-color: var(--pds-color-black-20);
            }
        }
        &.full-width {
            width: 100%;
        }
  
    }
    @at-root textarea#{&} {
        padding: pds-spacing(xs) pds-spacing(xl) pds-spacing(xxs)
          pds-spacing(default);
        border: none;
        border-bottom: 3px solid var(--pds-color-creme);
        transition: border-bottom-color 150ms ease-in-out;
        &:read-only {
            background-color: var(--pds-color-black-20);
            border-bottom-color: var(--pds-color-black-20);
            color: var(--pds-color-black-60);
            cursor: default;
            &:focus {
              border-bottom-color: var(--pds-color-black-20);
            }
        }
        &.full-width {
            width: 100%;
        }
    }

    &.radio {

        // this is hidden, but only in a 
        // pds-c-input-container with a
        // visible check

    }
    &.checkbox {
        // this is hidden, but only in a 
        // pdx-c-input-container with a 
        // visible check
    }
    &.transparent {
        background-color: transparent;
    }

}

// fake input
span.pds-c-input {
    display:inline-block;
    padding: 10px pds-spacing(xl) 10px pds-spacing(default);
}

// ----theming -------
      

.pds-c-input-container {
    &.radio {
        input[type=radio], .pds-c-input.radio {
            &:checked ~ .pds-c-input-check {
                border: 1px solid var(--pds-color-fill-110);
                &::before {
                    background-color: var(--pds-color-fill-110);
                }
            }
        }
        @include hover {
            .c-input-check {
                border-color: var(--pds-color-fill-110);
            }
        }
    }
    &.checkbox {
        input[type=checkbox], .pds-c-input.checkbox {
            &:checked ~ .pds-c-input-check {
                border: 1px solid var(--pds-color-fill-110);
                &::before {
                    background-color: var(--pds-color-fill-110);
                }
            }
        }
        @include hover {
            .c-input-check {
                border-color: var(--pds-color-fill-110);
            }
        }
    }
}

.pds-c-input {
    &[type=text], 
    &[type=number],
    &[type=email],
    &[type=tel],
    &[type=password],
    &[type=date],
    &[type=time],
    &.text {
        &:focus:not(:disabled) {
            border-bottom-color: var(--pds-color-fill-110);
        }
    }
}

select.pds-c-input, 
.pds-c-input.dropdown {

    &:focus:not(:disabled),
    &:hover:not(:disabled) {
        border-bottom-color: var(--pds-color-fill-110);
    }
}

textarea.pds-c-input {
    &:focus:not(:disabled) {
      border-bottom-color: var(--pds-color-fill-110);
    }
}
  

/* spinner */

.pds-c-button + .pds-c-progress {
    margin-left: 1em;
}
  
.pds-c-progress {
    position: relative;
    display: inline-block;
    visibility: hidden;
    color: transparent;
  
    &.pending {
      visibility: visible;
      .spinner {
        display: inline-block;
      }
    }
  
    &.ready {
      visibility: visible;
      color: inherit;
    }
    &.error {
      visibility: visible;
      color: var(--pds-color-red);
    }
  
    .spinner {
      display: none;
      position: relative;
      vertical-align: middle;
      width: 1.5em;
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }
      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        margin: 0px auto;
        border-left: 6px solid rgba(0, 0, 0, 0.15);
        border-right: 6px solid rgba(0, 0, 0, 0.15);
        border-bottom: 6px solid rgba(0, 0, 0, 0.15);
        border-top: 6px solid rgba(0, 0, 0, 0.8);
        border-radius: 100%;
  
        -webkit-animation: pds-anim-rotation 0.6s infinite linear;
        -moz-animation: pds-anim-rotation 0.6s infinite linear;
        -o-animation: pds-anim-rotation 0.6s infinite linear;
        animation: pds-anim-rotation 0.6s infinite linear;
      }
    }
    &.white {
        .spinner {
            &:after {
            border-left: 6px solid rgba(255, 255, 255, 0.15);
            border-right: 6px solid rgba(255, 255, 255, 0.15);
            border-bottom: 6px solid rgba(255, 255, 255, 0.15);
            border-top: 6px solid rgba(255, 255, 255, 0.8);
            border-radius: 100%;
            }
        }
    }
}
  
@keyframes pds-anim-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}