// -----------------------------------------------------------------------------
// #HELPERS icons
// .pds-c-icon [.{name}][.large][.colored][.accented][.{color}]
// -----------------------------------------------------------------------------

i.pds-c-icon, 
i.pds-c-button-icon {

	color: transparent;
	font-style:normal;
	display:inline-block;
	vertical-align:middle;
	//background-repeat:no-repeat;
    width:1em; 
    height:1em;
    cursor:pointer;
    
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
    user-select: none;
    
    background-color:pds-color('black');
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;

    &.large {
        width:2em; 
        height:2em; 
    }
    &.medium {
        width:1.75em; 
        height:1.75em; 
    }

   // default icon
    mask-image: url(#{$pds-assets-path}/images/icons/info-circle-solid.svg);
    -webkit-mask-image: url(#{$pds-assets-path}/images/icons/info-circle-solid.svg);

    // 24px

    &.alert, //lgc 202306
    &.exclamation-triangle	{
        mask-image: url(#{$pds-assets-path}/images/icons/exclamation-triangle.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/exclamation-triangle.svg);
    }
    &.arrow-circled-left, // lgc202306
    &.arrow-left-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-left-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-left-circle-solid.svg);
    }
    &.arrow-circled-right, // lgc202306
    &.arrow-right-circle-solid		{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-right-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-right-circle-solid.svg);
    }
    &.arrow-down	{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-down.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-down.svg);
    }
    &.arrow-left	{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-left.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-left.svg);
    }
    &.arrow-right	{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-right.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-right.svg);
    }
    &.arrow-small-down, // lgc202306
    &.chevron-down	{
        mask-image: url(#{$pds-assets-path}/images/icons/chevron-down.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/chevron-down.svg);
    }
    &.arrow-small-up, // lgc202306
    &.chevron-up	{
        mask-image: url(#{$pds-assets-path}/images/icons/chevron-up.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/chevron-up.svg);
    }
    &.arrow-small-left, // lgc202306
    &.chevron-left	{
        mask-image: url(#{$pds-assets-path}/images/icons/chevron-left.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/chevron-left.svg);
    }
    &.arrow-small-right, // lgc202306
    &.chevron-right	{
        mask-image: url(#{$pds-assets-path}/images/icons/chevron-right.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/chevron-right.svg);
    }
    &.arrow-up	{
        mask-image: url(#{$pds-assets-path}/images/icons/arrow-up.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/arrow-up.svg);
    }
    &.arrows-dropdown, // lgc202306
    &.chevrons-updown	{
        mask-image: url(#{$pds-assets-path}/images/icons/chevrons-updown.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/chevrons-updown.svg);
    }
    &.bag	{
        mask-image: url(#{$pds-assets-path}/images/icons/bag.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/bag.svg);
    }
    &.basket	{
        mask-image: url(#{$pds-assets-path}/images/icons/basket.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/basket.svg);
    }
    &.bin	{
        mask-image: url(#{$pds-assets-path}/images/icons/bin.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/bin.svg);
    }
    &.bracket-down	{
        mask-image: url(#{$pds-assets-path}/images/icons/bracket-down.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/bracket-down.svg);
    }
    &.calendar	{
        mask-image: url(#{$pds-assets-path}/images/icons/calendar.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/calendar.svg);
    }
    &.calendar-lgc	{ // lgc202306
        mask-image: url(#{$pds-assets-path}/images/icons/calendar-lgc.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/calendar-lgc.svg);
    }
    &.check-circle-solid 	{
        mask-image: url(#{$pds-assets-path}/images/icons/check-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/check-circle-solid.svg);
    }
    &.check	{
        mask-image: url(#{$pds-assets-path}/images/icons/check.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/check.svg);
    }
    &.clock	{
        mask-image: url(#{$pds-assets-path}/images/icons/clock.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/clock.svg);
    }
    &.close, // lgc202306
    &.cross	{
        mask-image: url(#{$pds-assets-path}/images/icons/cross.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/cross.svg);
    }
    &.cross-2	{
        mask-image: url(#{$pds-assets-path}/images/icons/cross-2.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/cross-2.svg);
    }
    &.dots	{
        mask-image: url(#{$pds-assets-path}/images/icons/dots.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/dots.svg);
    }
    &.dots-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/dots-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/dots-circle-solid.svg);
    }
    &.edit, // lgc202306
    &.pencil-left	{
        mask-image: url(#{$pds-assets-path}/images/icons/pencil-left.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/pencil-left.svg);
    }
    &.envelope-square-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/envelope-square-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/envelope-square-solid.svg);
    }
    &.cross-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/cross-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/cross-circle-solid.svg);
    }
    &.exclamation-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/exclamation-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/exclamation-circle-solid.svg);
    }
    &.exclamation-circle	{
        mask-image: url(#{$pds-assets-path}/images/icons/exclamation-circle.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/exclamation-circle.svg);
    }
    &.exclamation	{
        mask-image: url(#{$pds-assets-path}/images/icons/exclamation.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/exclamation.svg);
    }
    &.eye-crossed	{
        mask-image: url(#{$pds-assets-path}/images/icons/eye-crossed.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/eye-crossed.svg);
    }
    &.eye	{
        mask-image: url(#{$pds-assets-path}/images/icons/eye.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/eye.svg);
    }
    &.hamburger	{
        mask-image: url(#{$pds-assets-path}/images/icons/hamburger.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/hamburger.svg);
    }
    &.home	{
        mask-image: url(#{$pds-assets-path}/images/icons/home.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/home.svg);
    }
    &.info, // lgc202306
    &.info-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/info-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/info-circle-solid.svg);
    }
    &.location	{
        mask-image: url(#{$pds-assets-path}/images/icons/location.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/location.svg);
    }
    &.magnifier	{
        mask-image: url(#{$pds-assets-path}/images/icons/magnifier.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/magnifier.svg);
    }
    &.magnifier-lgc	{ // lgc202306
        mask-image: url(#{$pds-assets-path}/images/icons/magnifier-lgc.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/magnifier-lgc.svg);
    }
    &.minus-circle	{
        mask-image: url(#{$pds-assets-path}/images/icons/minus-circle.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/minus-circle.svg);
    }
    &.plus	{
        mask-image: url(#{$pds-assets-path}/images/icons/plus.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/plus.svg);
    }
    &.plus-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/plus-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/plus-circle-solid.svg);
    }
    &.question-circle-solid	{
        mask-image: url(#{$pds-assets-path}/images/icons/question-circle-solid.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/question-circle-solid.svg);
    }
    &.question-circle	{
        mask-image: url(#{$pds-assets-path}/images/icons/question-circle.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/question-circle.svg);
    }
    &.question	{
        mask-image: url(#{$pds-assets-path}/images/icons/question.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/question.svg);
    }
    &.remove, // lgc202306
    &.cross-circle-solid-small	{
        mask-image: url(#{$pds-assets-path}/images/icons/cross-circle-solid-small.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/cross-circle-solid-small.svg);
    }
    &.sidebar	{
        mask-image: url(#{$pds-assets-path}/images/icons/sidebar.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/sidebar.svg);
    }
    &.spinner	{
        mask-image: url(#{$pds-assets-path}/images/icons/spinner.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/spinner.svg);
    }
    &.social-facebook	{
        mask-image: url(#{$pds-assets-path}/images/icons/social-facebook.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/social-facebook.svg);
    }
    &.social-instagram	{
        mask-image: url(#{$pds-assets-path}/images/icons/social-instagram.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/social-instagram.svg);
    }
    &.social-linkedin	{
        mask-image: url(#{$pds-assets-path}/images/icons/social-linkedin.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/social-linkedin.svg);
    }
    &.social-twitter	{
        mask-image: url(#{$pds-assets-path}/images/icons/social-twitter.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/social-twitter.svg);
    }
    &.social-youtube	{
        mask-image: url(#{$pds-assets-path}/images/icons/social-youtube.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/social-youtube.svg);
    }
    &.user-lgc	{ // lgc202306
        mask-image: url(#{$pds-assets-path}/images/icons/user-lgc.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/user-lgc.svg);
    }
    &.user	{ 
        mask-image: url(#{$pds-assets-path}/images/icons/user.svg);
        -webkit-mask-image: url(#{$pds-assets-path}/images/icons/user.svg);
    }

    // all named colors
    @each $cname, $cvalue in $pds-colors {
        &.#{""+$cname} {
            background-color: $cvalue;
        }
    }

    // theming

    &.colored {
        background-color: pds-theme-color($pds-deftheme,'fill');
    }
    &.accented {
        background-color: pds-theme-color($pds-deftheme,'accent');
    }
    @each $themename in map-keys($pds-themes) {
        @at-root .pds-t-#{$themename} &.colored,
        &.colored.pds-t-#{$themename}:not(.inherit) {
            background-color: pds-theme-color($themename,'fill');
        }
        @at-root .pds-t-#{$themename} &.accented,
        &.accented.pds-t-#{$themename}:not(.inherit) {
            background-color: pds-theme-color($themename,'accent');
        }
    }

    // precolord icons 

    &.check-green, // lgc202306,
    &.check-circle-solid-green {
        mask-image: unset;
        -webkit-mask-image: none;
        background-color: transparent!important;
        background-image: url(#{$pds-assets-path}/images/icons/check-circle-solid-green.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    &.error, //lgc202306
    &.error-red, //lgc202306
    &.cross-circle-solid-red {
        mask-image: unset;
        -webkit-mask-image: none;
        background-color: transparent!important;
        background-image: url(#{$pds-assets-path}/images/icons/cross-circle-solid-red.svg);
        background-repeat: no-repeat;
        background-position: center;
    }

    // other icons
    &.key-entree	{
        mask-image: unset;
        -webkit-mask-image: none;
        background-color: transparent!important;
        background-image: url(#{$pds-assets-path}/images/icons/key-entree.png);
        background-size: 83%;
        background-repeat: no-repeat;
        background-position: center;
    }

}


