// -----------------------------------------------------------------------------
// #HELPERS links
// .pds-c-droplink .pds-c-droplink-content[.right] ul li
// -----------------------------------------------------------------------------

.pds-c-droplink {
    position: relative;
    .pds-c-droplink-content {
      display: none;
      position: absolute;
      z-index: 1;
      background-color: pds-color('white');
      color: pds-color('black');
      border: 1px solid pds-color('black-20');
      top: 100%;
      min-width: 110%;
      left: -5%;
      padding: 0.5em 1em;
      ul {
        list-style-type: none;
        li {
          white-space: nowrap;
          border-bottom: 1px solid pds-color('black-20');
          padding: 0.5em;
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    &.right {
      .pds-c-droplink-content {
        left: auto;
        right: 0;
      }
    }
    &:hover .pds-c-droplink-content {
      display: block;
    }
  }