
// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-menu
//
// .pds-c-menu li a
// -----------------------------------------------------------------------------


.pds-c-menu {
    display: flex;
    align-items:center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      border-right: 1px solid rgba(pds-color(white), 0.15);
  
      &:first-child {
        border-left: 1px solid rgba(pds-color(white), 0.15);
      }
    }
  
    a {
      
      display: inline-block;
      position: relative;
      width: 100%;
      font-family: $font--fira-sans;
      font-weight: 100;
      line-height: 1.5;
      text-decoration: none;
      text-transform: none;
      cursor: pointer;
      padding: 0.4em 1em;
      transition: background 100ms ease-in-out;
  
      &:hover {
        background-color: rgba(pds-color(white), 0.1);
      }

      @include media-until("md") {
        font-size: pds-fontsize(s);
      }
  
      @include media-from("md") {
        font-size: pds-fontsize(m);
      }
    }
  }

/* theming */

@mixin pds-menu-theme( $theme : $pds-deftheme ) {
    background-color:pds-theme-color($theme,fill);
    a {
        color:pds-theme-color($theme,stroke);
    }
}

.pds-c-menu {
    @include pds-menu-theme($pds-deftheme);
}


@each $theme in map-keys($pds-themes) {
    .pds-t-#{$theme} .pds-c-menu,
    .pds-c-menu.pds-t-#{$theme}:not(.inherit) {
        @include pds-menu-theme($theme);
    }
}
