@use "../../helpers/responsive";
@use "../../helpers/size";
@use "../../settings";


// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-menu
//
// .pds-c-menu li a
// -----------------------------------------------------------------------------


.pds-c-menu {
    display: flex;
    align-items:center;
    list-style: none;
    margin: 0;
    padding: 0;

    & > li {
      border-right: 1px solid rgba(255,255,255, 0.15);
      &:first-child {
        border-left: 1px solid rgba(255,255,255, 0.15);
      }
    }

    li {
      position:relative;
      border-right: 1px solid rgba(255,255,255, 0.15);

      &:has(ul) > a {
        padding-left:.25em;
        &:before {
          content:" ";
          display: inline-block;
          vertical-align: middle;
          mask-image: url(#{settings.$assets-path}/images/icons/chevron-right.svg);
          -webkit-mask-image: url(#{settings.$assets-path}/images/icons/chevron-right.svg);
          background-color:white;
          
          @include responsive.media-until("m") {
            width:size.fontsize(l);
            height:size.fontsize(l);
          }
          @include responsive.media-from("m") {
            width:size.fontsize(xl);
            height:size.fontsize(xl);
          }
          
        }
      }

      ul {
        visibility: hidden;
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 1rem;
        left: -1px;
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        min-width:125%;
        li {
          border-top: 1px solid rgba(255,255,255, 0.15);
          ul {
            top:0;
            left:100%;
            ul {
              display:none!important;
            }
          }
        }
        li:not(:has(ul)) {
          a {
            padding-left: 1.75em;
          }
        }
      }

      &:hover > ul,
      &:focus-within > ul,
      & ul:hover,
      & ul:focus {
        visibility: visible;
        opacity: 1;
        display: block;
      }

      &:hover:has(ul),
      &:focus-within:has(ul) {
        & > a:before {
          mask-image: url(#{settings.$assets-path}/images/icons/chevron-down.svg);
          -webkit-mask-image: url(#{settings.$assets-path}/images/icons/chevron-down.svg);
        }
      }

      & ul li {
        clear: both;
        width: 100%;
      }


    }
  
    a {
      
      display: inline-block;
      position: relative;
      width: 100%;
      font-family: settings.$font-sans;
      font-weight: 100;
      line-height: 1.5;
      text-decoration: none;
      text-transform: none;
      white-space:nowrap;
      cursor: pointer;
      padding: 0.4em 1em;
      transition: background 100ms ease-in-out;
  
      &:hover {
        background-color: rgba(255,255,255, 0.1);
      }

      @include responsive.media-until("m") {
        font-size: size.fontsize(s);
      }
  
      @include responsive.media-from("m") {
        font-size: size.fontsize(m);
      }
    }
  }

/* theming */


.pds-c-menu, .pds-c-menu ul {
    background-color:var(--pds-color-fill);
    a {
        color:var(--pds-color-stroke);
    }
    a:before {
      background-color:var(--pds-color-stroke);
    }
}

