
// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-tabs
//
// .pds-c-tabs-container
// .pds-c-tabs-container > ( ul | ol | .pds-c-tabs ) [ + .pds-c-tabs-panels ]
// .pds-c-tabs > ( li | .pds-c-tabs-item ) > ( a | .pds-c-tabs-link )[ .current ]
// .pds-c-tabs-panels > .pds-c-tabs-panel[ .current ]
// -----------------------------------------------------------------------------


.pds-c-tabs-container {

    ul, ol, .pds-c-tabs {

        margin: 0;
        padding: 0;
        list-style: none;

        @include media-from(m) {
            display: flex;
            border-bottom: 1px solid var(--pds-color-black-20);
        }
    
        li, .pds-c-tabs-item {

            position: relative;
            text-align: center;
            border-bottom: 1px solid var(--pds-color-black-20);

            @include media-from(m) {
                margin: 0 pds-spacing(xxs);
                border: none;
            }

            @include media-from(l) {
                margin: 0 pds-spacing(s);
            }

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        
            a, .pds-c-tabs-link {

                display: inline-block;
                padding: pds-spacing(xxs) 0 pds-spacing(xxs);
                color: var(--pds-color-black);
                font-family: $font--fira-sans;
                font-size: pds-fontsize(xs);
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
                text-transform: uppercase;
                border: none;
                background-color: var(--pds-color-white);
                transition: all 100ms ease-in-out;
                cursor: pointer;

                @include media-from(m) {
                    position: relative;
                    padding: pds-spacing(tiny) 0 pds-spacing(s);
                }

                &::after {
                    content: "";
                    display: block;
                    position: absolute;
                    height: 3px;
                    width: 100%;
                    bottom: 0;
                    left: 0;
                    background-color: var(--pds-color-transparent);
                    opacity: 1;
                    transition: all 250ms ease-in-out;
                }

                &.active {
                    &::after {
                        opacity: 1;
                    }

                }
            }
        }
    }
    .pds-c-tabs-panels {
        
        .pds-c-tabs-panel {
            padding: pds-spacing(s) 0;
            display:none;
            &.active {
                display:block;
            }
        }
    }

}

// Theming

.pds-c-tabs-container {
    ul, ol, .pds-c-tabs {
        a, .pds-c-tabs-link {
            @include media-from(m) {
                &:hover,
                &:focus {
                    color: var(--pds-color-fill-110);
                    &::after {
                        opacity: 1;
                        background-color: var(--pds-color-fill-110);
                    }
                }
            }
            &.active {
                color: var(--pds-color-fill-110);
                &::after {
                    background-color: var(--pds-color-fill-110);
                }
            }
        }
    }
} 


/*
    show links inside tabs as links

    https://github.com/ProDemos/pds/issues/14
*/

.pds-c-tabs-container .pds-c-tabs-panel ul li a {
    display: inline;
    padding: 0;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: normal;
    text-decoration: underline;
    text-transform: none;
    border: none;
    background-color: transparent;
    transition: none;
    cursor: pointer;
    &::after,
    &:hover::after {
      display: none;
    }
  }