@use "../../helpers/responsive";
@use "../../helpers/size";

// -----------------------------------------------------------------------------
//  COMPONENT .pds-c-table
// .pds-c-table[.responsive]
// .pds-c-table > thead > tr > th
// .pds-c-table > tbody > tr > td
// -----------------------------------------------------------------------------

.pds-c-table {

    width: 100%;
    height: auto !important;
    margin-bottom: size.spacing(m);
    color: var(--pds-color-black);
    border-spacing: 0;

    /*
        thead, .pds-c-table-head,
        tbody, .pds-c-table-body {

            
        }
    */

    tr  {
        border: none;
        transition: background-color 0.1s ease-in-out;

        th  {
            padding: size.spacing(xxs) size.spacing(xs);
            font-size: size.fontsize(xs);
            font-weight: 500;
            text-align: left;
            text-transform: uppercase;
            vertical-align: top;
        }

        td  {

            padding: size.spacing(xxs) size.spacing(xs);
            font-size: size.fontsize(xs);
        }
        
    }

    tbody  {
        tr  {
            &:nth-child(odd) {
                background: var(--pds-color-creme-40);
            }
        }
    }


    // Responsive table, rotated on mobile
    &.responsive {

        @include responsive.media-until(l) {
            display: block;
        }

        thead,  tbody {
            @include responsive.media-until(l) {
                display: block;
            }
        }

        tr {
            @include responsive.media-until(l) {
                display: block;
                margin: 0 0 1rem;
            }
            td, th {
                @include responsive.media-until(l) {
                    /* Behave  like a "row" */
                    position: relative;
                    display: block;
                    padding: size.spacing(xxs) size.spacing(xs) size.spacing(xxs) 50%;
                    border: none;

                    &::before {
                        /* Now make a table header */
                        position: absolute;

                        /* Top/left values mimic padding */
                        top: size.spacing(xxs);
                        left: size.spacing(xs);
                        width: 45%;
                        padding-right: size.spacing(xs);
                        white-space: nowrap;
                        font-weight: 500;
                    }

                    &:nth-of-type(n+1)::before {
                        content: attr(data-label);
                    }
                }
            }
        }

        thead {
            tr {
                @include responsive.media-until(l) {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
        }
    }

}

/* stylelint-enable declaration-no-important, max-nesting-depth */
