{# is this used ? #}
<label class="u-block  u-margin--b2  u-black  u-size--6  u-lh--1" for="{{ for }}">
    {{ label|raw }}

    {% if required and not smooth %}
        <span class="u-size--8  u-red--torch">*</span>
    {% endif %}
</label>
