@use "sass:map";
@use "variables/defaults";

/**
 *   PDS Settings
 *
 *  This file must be configured by the containing
 *  host to at least override $pds-assets-path, like 
 *
 *   @use "@pds/settings" with (
 *       $pds-assets-path: "./node_modules/prodemos/pds/assets"
 *   )
 *
 *   various PDS mixins and functions will then
 *   use these settings with the overriden values.
 */

// $pds-assets-path:
// depends on where the css is generated. in the
// default package, the demo, the css is generated
// inside the package, so the paths can be relative

$pds-assets-path: ".." !default;

// $pds-colors:
// use var(--pds-color-name) to get these colors,
// but also, these colors will appear in 
// modifiers (like .pds-m-filled.red )

$custom-pds-colors: () !default;
$pds-colors: map.deep-merge(defaults.$pds-colors,$custom-pds-colors);

// $pds-themes:
// use pds-theme-color($themename,$propname)
// to get to these values easier, but also,
// these colors will be appear in themes 
// (like .pds-t-blue01)

$custom-pds-themes: () !default;
$pds-themes: map.deep-merge(defaults.$pds-themes,$custom-pds-themes);
$pds-deftheme: 'blue01' !default;

// $pds-fontsizes:
// use `pds-fontsize(m)` to get fontsize m

$custom-pds-fontsizes: () !default;
$pds-fontsizes: map.deep-merge(defaults.$pds-fontsizes,$custom-pds-fontsizes);
$pds-fontsize: map.get($pds-fontsizes, default) !default;

// $pds-lineheights:
// use `pds-lineheight(m)` to get lineheight m

$custom-pds-lineheights: () !default;
$pds-lineheights: map.deep-merge(defaults.$pds-lineheights,$custom-pds-lineheights);
$pds-lineheight: map.get($pds-lineheights, default) !default;

// $pds-spacings:
// use `pds-spacing(m)` to get spacing m

$custom-pds-spacings: () !default;
$pds-spacings: map.deep-merge(defaults.$pds-spacings,$custom-pds-spacings);
$pds-spacing: map.get($pds-spacings, default) !default;

// $pds-breakpoints:
// use `pds-media(s,min|max) to get a @media query

$custom-pds-breakpoints: () !default;
$pds-breakpoints: map.deep-merge(defaults.$pds-breakpoints,$custom-pds-breakpoints);
