// -----------------------------------------------------------------------------
// #HELPERS icons
// Icons in buttons should get their own specific classname from the component so the styling can be targeted.
// For example: 'c-button__icon--arrow--circled--left'
// -----------------------------------------------------------------------------


.pds-c-button-icon {

    display: block;
    margin-top: -1px;

    &.left {
        margin-right: nth($pds-spacings, 5);
    }
    &.right {
        margin-left: nth($pds-spacings, 5);
    }
    .pds-c-button.transparent & {

        &.left {
            margin-right: nth($pds-spacings, 3);
        }
        &.right {
            margin-left: nth($pds-spacings, 3);
        }
    }
}

