// NOBEM Simple CSS

.pds-c-table {

    &.responsive {
        thead, tbody {
            @include media-until(lg) {
                display: block;
            }
        }
    }

    thead {
        @extend .c-table__head;
        tr {
            @extend .c-table__row;
        
            // undo this for the header:
            &:nth-child(odd):not(.c-table__row--header) {
                background: transparent;
            }
        }
    }
    tbody {
        @extend .c-table__body;
        tr {
            @extend .c-table__row;
        }
    }
    
    &.responsive {
        tr {
            @include media-until(lg) {
                display: block;
                margin: 0 0 1rem;
            }
        }
        thead {
            tr {
                @include media-until(lg) {
                    position: absolute;
                    top: -9999px;
                    left: -9999px;
                }
            }
        }
    }
    tbody {
        tr {
            &:nth-child(odd) {
                background: get-color(grey--romance--light);
            }
        }
    }
    th {
        @extend .c-table__header;
    }
    td {
        @extend .c-table__value;
    }
    &.responsive {
        td {
            @include media-until(lg) {
                /* Behave  like a "row" */
                position: relative;
                display: block;
                padding: nth($spacing-scale, 3) nth($spacing-scale, 4) nth($spacing-scale, 3) 50%;
                border: none;
    
                &::before {
                    /* Now make a table header */
                    position: absolute;
    
                    /* Top/left values mimic padding */
                    top: nth($spacing-scale, 3);
                    left: nth($spacing-scale, 4);
                    width: 45%;
                    padding-right: nth($spacing-scale, 4);
                    white-space: nowrap;
                    font-weight: 500;
                }
    
                &:nth-of-type(n+1)::before {
                    content: attr(data-label);
                }
            }

        }
    }
}

