
// Tab navigational elements

.c-tabs-container {
    // didnt exist
    // @extend .c-tab-navigation;


    ul, ol, .c-tabs {
        @extend .c-tab-navigation__list;
        li, .c-tabs-item {
            @extend .c-tab-navigation__list-item;
            &:first-child {
                @extend .c-tab-navigation__list-item.c-tab-navigation__list-item--first;
            }
            &:last-child {
                @extend .c-tab-navigation__list-item.c-tab-navigation__list-item--last;
            }
            a, .c-tabs-link {
                @extend .c-tab-navigation__link;
                &.active {
                    @extend .c-tab-navigation__link.c-tab-navigation__link--active;
                }
            }
        }
    }

    .c-tabs-panels {
        // didnt exist:
        // @extend .c-tab-navigation--panels;
        .c-tabs-panel {
            @extend .c-tab-panel;
            display:none;
            &.active {
                display:block;
            }
        }
    }

}

// default theme for nobem:

@each $theme in $prodemos-themes {
    @if nth($theme,1) == 'corporate' {
        .c-tabs-container {
            ul, ol, .c-tabs {
                a, .c-tabs-link {
                    &.active {
                        color: darken((get-color(#{nth($theme, 2)})), nth($color-darken-scale, 1));
                        &::after {
                            background-color: darken((get-color(#{nth($theme, 2)})), nth($color-darken-scale, 1));
                        }
                    }
                }
            }
        } 
    }
}

// specific themes:

@each $theme in $prodemos-themes {
    // the inherit class is only to make it more specific
    .t-#{nth($theme,1)} .c-tabs-container,
    .c-tabs-container.t-#{nth($theme,1)}:not(.inherit) {
        ul, ol, .c-tabs {
            a, .c-tabs-link {
                &.active {
                    color: darken((get-color(#{nth($theme, 2)})), nth($color-darken-scale, 1));
                    &::after {
                        background-color: darken((get-color(#{nth($theme, 2)})), nth($color-darken-scale, 1));
                    }
                }
            }
        }
    } 
}

